@font-face {font-family: 'DiamondsOrnaments';src: url('webfonts/2CF4A2_0_0.eot');src: url('webfonts/2CF4A2_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2CF4A2_0_0.woff2') format('woff2'),url('webfonts/2CF4A2_0_0.woff') format('woff'),url('webfonts/2CF4A2_0_0.ttf') format('truetype');}


@font-face {font-family: 'DiamondsThin';src: url('webfonts/2CF4A2_1_0.eot');src: url('webfonts/2CF4A2_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2CF4A2_1_0.woff2') format('woff2'),url('webfonts/2CF4A2_1_0.woff') format('woff'),url('webfonts/2CF4A2_1_0.ttf') format('truetype');}

#bar{
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  line-height: 80px;
  margin-top: -40px;
  padding-bottom: 15px;
  width: 100%
}
#name{
  position: relative;
  margin-left: 50px;
  font: 45px DiamondsThin;
}
#links{
  position: relative;
  float: right;
  margin-right: 150px;
  font-family: 'DiamondsThin'
}
#ornament{
  position: relative;
  font: 40px DiamondsOrnaments;
  text-align: center;
  background-color: white;
  margin-top: -7px;
  padding-top: 5px;
}
#lauren{
  position: relative;
  float: left;
  margin-top: -85px;
  padding-right: 50px;
  z-index: -1
}
#abouttext{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin-left: 230px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-left: 40px;
  color: #333333;
}
.heading{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin-top: 50px;
  font-size: 18px;
  color: #333333;
}
#shaun{
  font-weight: 500;
}
a.external:visited{
  color: black;
  text-decoration: none;
}
a.external:link{
  color: black;
  text-decoration: none;
}
a.external:hover{
  color: #2ecc9e
}
a.nav:link{
  color: white;
  text-decoration: none;
}
a.nav:visited{
  color: white;
  text-decoration: none;
}
a.nav:hover{
  color: #2ecc9e;
}
.contact{
  background-image: url('https://farm8.staticflickr.com/7543/15653761684_4a6a34689b_o.jpg');
  background-size: 100%;
  /*background-repeat: no-repeat;*/
  margin-top: -85px;
  /*height: 600px;
  width: 1000px;*/
  text-align: center;
  color: #333333;
  font-family: 'Raleway', sans-serif;
}
#email{
  /*height: 20px;*/
  width: 170px;
  border: solid #333333 1.5px;
  padding: 7px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-align: center;
  margin: auto;
  margin-top: 70px;
  }
#contacttext{
  color: #333333;
  font: 40px DiamondsThin;
  font-weight: 400px;
  display: inline-block;
  letter-spacing: .10em;
  font-size: 20px;
  /*padding-top: 100px;*/
  margin-top: 200px;
}
#hello{
  font-weight: 900px;
  /*margin-top: -45px;*/
  font-size: 30px;
  line-height: 10px;
  letter-spacing: .17em;
  font: 40px DiamondsThin;
  margin-left: 370px;
}
#email:hover{
  background-color: rgba(255,255,255, 0.4);
}
/*#ornament2{
  font: 40px DiamondsOrnaments;
  color: #333333;
  line-height: 10px;
  margin-top: 15px;
}
#ornament3{
  font: 40px DiamondsOrnaments;
  color: #333333;
  line-height: 10px;
  margin-top: 20px
}*/
#social{
  margin-top: -100px;
  padding: 20px;
}
.port{
  position: relative;
  display: inline-block;
  padding: 10px;
  transition: background-color 0.5s ease;

}
/*.port:hover{
  opacity: 0.6;
}*/
.porttext {
  top: 10;
  bottom: 0;
  left: 10;
  right: 0;
  position: absolute;
  width: 450;
  height: 326;
  background: rgba(255,255,255,0.9);
  /*color: white;*/
  visibility: hidden;
  /*opacity: 0;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  display: inline-block;*/
}
.port:hover .porttext{
    visibility: visible;
    opacity: 1;
    font-family: 'Raleway', sans-serif;
    border: solid #333333 1.5px
}

.insidetext{
  color: #333333;
  visibility: hidden;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding: 75px 10px 75px 10px;
  text-align: center;
}
.port:hover .insidetext{
  visibility: visible;
}
.portheader{
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  border-bottom: 2px solid #333333;
  padding: 15px;
}
.slink{
  display: inline-block;
  border-radius: 30px;
  /*border: solid black 1px;*/
  margin-top: 200px;
}
#email_icon{
  margin-bottom: -9px;
}
.slink:hover{
  color: rgba(255,255,255,0.3)
}
#indexpic{
  margin-top: -200px;
}
